<nav>
    <div>
        <a href="/">Homepage</a>
        <a href="/pokemons">Favorites</a>
    </div>
    <div>
        <a href="/auth/login">Log in</a>
        <a href="/auth/new">Sign up</a>
        <a href="/auth/logout">Log out</a>
    </div>
</nav>