<h1>The Original 151 Pokemon</h1>

<% pokemons.forEach(pokemon => { %>
    <div>
        <h3><%= pokemon.name %></h3>
        <form method="POST" action="/pokemons">
            <input type="hidden" name="name" value="<%= pokemon.name %>">
            <input type="submit" value="Add to favorites">
        </form>
    </div>
<% }) %>